<%inherit file="/base.html"/>

<%block name="content">
    <div class="home-page" id="app">
        <div class="cw-search-box">
            <i-form :model="searchInfo" :label-width="100">
                <Row gutter="15">
                    <i-col span="6">
                        <Form-item label="业务类型：">
                                <i-select v-model="searchInfo.type">
                                    <i-option v-for="item in type" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                                </i-select>
                        </Form-item>
                    </i-col>
                    <i-col span="6">
                        <FormItem>
                            <i-button type="primary" @click="search" style="margin:0 15px 0 20px">查询</i-button>
                            <i-button type="normal" @click="clear">清空</i-button>
                        </FormItem>
                    </i-col>
                </Row>
                <FormItem>
                    <i-button type="primary" @click="openExecutePage" style="margin:0 15px 0 5px">执行脚本</i-button>
                </FormItem>
            </i-form>
            <!-- 主机表格 -->
            <i-table @on-selection-change="selectionChange" :columns="columns" :data="data" style="margin-top: 30px"></i-table>
        </div>
        <Drawer title="执行脚本"
            v-model="createDrawer"
            :closable="false"
            :mask-closable="false"
            width="900">
            <div style="padding: 0 15px">
                <i-form
                    :model="selectScript"
                    ref="selectScript"
                    :rules="ruleValidate"
                    :label-width="80">
                    <Form-item label="请选择脚本：">
                                <i-select v-model="selectScript.content">
                                    <i-option v-for="item in scriptList" :value="item.content" :key="item.content">{{ item.name }}</i-option>
                                </i-select>
                        </Form-item>
                    <Form-item>
                        <div class="cw-btn-group">
                            <i-button type="primary" @click="execute" style="margin-right: 15px">执行</i-button>
                            <i-button type="normal" @click="cancel">取消</i-button>
                        </div>
                    </Form-item>
                </i-form>
                <!-- 执行结果表格 -->
            <i-table :columns="scriptResultColumns" :data="scriptResultData" style="margin-top: 30px"></i-table>
            </div>
        </Drawer>

        <Drawer title="监控详情"
            v-model="lineDrawer"
            :closable="false"
            :mask-closable="false"
            width="900">
            <div style="padding: 0 15px">
                <!-- 折线图 -->
                <div class="charts-wrapper">
                    <ve-line :data="lineData" width="800px"></ve-line>
                </div>

                <div class="cw-btn-group">
                    <i-button type="normal" @click="cancel">关闭</i-button>
                </div>

            </div>
        </Drawer>
        <Modal
            v-model="dialog"
            title="选择脚本"
            @on-ok="dialogSummit"
            @on-cancel="cancel"
            ok-text="提交"
            width="680">
            <i-table @on-selection-change="selectScriptChange" :columns="selectScriptColumns" :data="selectScriptData" style="margin-top: 30px"></i-table>
        </Modal>
    </div>
</%block>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                editDrawer: false,
                detailDrawer: false,
                createDrawer: false,
                lineDrawer: false,
                created_time: '',
                dialog: false,
                formItem: {
                    name: '',
                    desc: '',
                    content: '',
                    type: '',
                    source: '',
                },
                columns: [
                    {
                        type: 'selection',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '序号',
                        type: 'index',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '内网IP',
                        key: 'bk_host_innerip'
                    },
                    {
                        title: '主机名',
                        key: 'bk_host_name'
                    },
                    {
                        title: '系统名称',
                        key: 'bk_os_name'
                    },
                    {
                        title: '云区域',
                        key: 'bk_inst_name',
                        render:(h,params)=>{
                            return h('span',params.row.bk_cloud_id[0].bk_inst_name)
                        }
                    },
                    {
                        title: '操作',
                        key: 'actiono',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.onMonitor(params.row.bk_host_innerip,params.row.bk_cloud_id[0].id)
                                        }
                                    }
                                }, '监控'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.monitorDetail(params.row.bk_host_innerip)
                                        }
                                    }
                                }, '监控详情')
                            ]);
                        }
                    }
                ],
                selectScriptColumns: [
                    {
                        type: 'selection',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '名称',
                        key: 'name'
                    },
                    {
                        title: '脚本来源',
                        key: 'source'
                    },
                    {
                        title: '脚本类型',
                        key: 'type'
                    }
                ],
                scriptResultColumns: [
                    {
                        type: 'selection',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '序号',
                        type: 'index',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: 'IP',
                        key: 'ip'
                    },
                    {
                        title: '是否成功',
                        key: 'is_success',
                        render:(h,params)=>{
                            return h('span', (params.row.is_success)?"是":"否")
                        }
                    },
                    {
                        title: '执行结果',
                        key: 'log_content'
                    }
                ],
                lineData: {
                          columns: ['created_time','disk', 'cpu','memory'],
                          rows: []
                },
                scriptResultData: [],
                selectScriptData: [],
                data: [],
                type: [],
                scriptList: [],
                selectScript: {
                    content: ''
                },
                source: [
                    {
                        label: '手工录入',
                        value: '手工录入'
                    },
                    {
                        label: '脚本克隆',
                        value: '脚本克隆'
                    },
                    {
                        label: '本地脚本',
                        value: '本地脚本'
                    }
                ],
                searchInfo: {
                    type: ''
                },
                executeInfo: {
                    bizId: '',
                    scriptContent: '',
                    ipList: []
                },
                resultInfo: {
                    bizId: '',
                    jobInstanceId: ''
                },
                script: '',
                ruleValidate: {
                    content: [
                        { required: true, message: '脚本内容不能为空', trigger: 'blur' }
                    ]
                },
                ips: [],
                dialogForm: {
                    bizId: '',
                    ip: '',
                    scriptContent: '',
                    cloudId: ''
                },
                exchData: [],
                ip: ''
            }
        },
        methods: {
            // 处理日期变化事件
            handleDateChange(arr) {
                this.searchInfo.start_time = arr[0]
                if (arr[1] !== '') {
                    let date = new Date(new Date(arr[1]).getTime() + 24*60*60*1000-1)
                    this.searchInfo.end_time = this.format(date)
                }
            },
            // 创建脚本事件
            handleCreate() {
                this.$refs['formItem'].validate((valid) => {
                    if (valid) {
                        this.create()
                    } else {
                        this.$Message.error('表单存在未填字段!');
                    }
                })

            },
            // 创建脚本
            create() {
                axios.post(site_url + "script/", this.formItem).then(res => {
                    this.cancel()
                    if (res.data.result) {
                        this.$Message.success('添加脚本成功');
                    } else {
                        this.$Message.error('添加脚本失败');
                    }
                    this.search()
                })
            },
            // 清除查询条件
            clear() {
                this.erase(this.searchInfo)
                this.search()
            },
            // 隐藏抽屉
            cancel() {
                this.editDrawer = false
                this.createDrawer = false
                this.lineDrawer = false
                this.erase(this.script)
                this.erase(this.formItem)
            },
            // 属性擦除
            erase(data) {
                Object.keys(data).forEach(key => {
                    data[key] = ''
                })
            },
            // 条件查询
            searchScripts() {
                axios.get(site_url + "script/", {
                    params: this.searchInfo
                }).then(res=>{
                    this.scriptList = res.data
                    this.selectScriptData = res.data
                })
            },
            // 条件查询
            search() {
                axios.get(site_url + "host/list/", {
                    params: this.searchInfo
                }).then(res=>{
                    this.data = res.data.data
                })
            },
            getBiz(){
               axios.get(site_url + "host/biz/").then(res=>{
                    this.type = res.data.data
                })
            },
            //选到IP
            selectionChange(selection){
                for (i=0;i<selection.length;i++){
                    let pp = {
                        ip: "",
                        bk_cloud_id: ""
                    }
                    pp.ip = selection[i].bk_host_innerip
                    pp.bk_cloud_id = selection[i].bk_cloud_id[0].id
                    this.executeInfo.ipList.push(pp)
                }
            },
            openExecutePage(){
                //判断是否已经选择主机
                if (!this.executeInfo.ipList || this.executeInfo.ipList.length < 1) {
                    alert("请选择主机")
                    return
                }
                this.createDrawer = true
            },
            //执行
            execute (){
                if (this.selectScript.content == ""){
                    alert("请选择脚本")
                    return
                }
                this.executeInfo.bizId = this.searchInfo.type
                this.resultInfo.bizId = this.searchInfo.type
                this.executeInfo.scriptContent = this.selectScript.content
                axios.post(site_url + "host/execute/", this.executeInfo).then(res=>{
                    //this.scriptResultData = res.data.data
                    if (res.data.data.result) {
                        this.$Message.success('执行脚本成功');
                        this.resultInfo.jobInstanceId = res.data.data.data
                        this.searchExecuteResult()
                    } else {
                        this.$Message.error('执行脚本失败');
                    }
                })
            },
            searchExecuteResult(){
                axios.get(site_url + "host/result/",{
                    params: this.resultInfo
                }).then(res=>{
                    this.scriptResultData = res.data.data
                })
            },
            // 下面是监控主机-----------------------------------------
            //监控
            onMonitor(ip,cloudId){
                this.dialogForm.ip = ip
                this.dialogForm.bizId = this.searchInfo.type
                this.dialogForm.cloudId = cloudId
                //this.dialog = !this.dialog
                //this.dialogForm.scriptContent = this.exchData[0].content
                axios.post(site_url + "host/summit/", this.dialogForm).then(res=>{
                    //this.scriptResultData = res.data.data
                    console
                    if (res.data.result) {
                        this.$Message.success('监控启动成功');
                        //this.resultInfo.jobInstanceId = res.data.data.data
                        //this.searchExecuteResult()
                    } else {
                        this.$Message.error('监控启动失败');
                    }
                })
                //测试定时任务接口
                /*axios.get(site_url + "host/test/" ).then(res=>{
                    console.log(res)
                }) */
            },
            selectScriptChange(selection){
                this.exchData = selection
            },
            //对话框提交
             dialogSummit(){
              /*  if (this.exchData.length == 0) {
                    this.$Message.error('请选择脚本');
                    return false
                }
                if (this.exchData.length > 1) {
                    this.$Message.error('只能选择一个脚本');
                    return false
                }
                this.dialogForm.scriptContent = this.exchData[0].content
                axios.post(site_url + "host/summit/", this.dialogForm).then(res=>{
                    //this.scriptResultData = res.data.data
                    if (res.data.data.result) {
                        this.$Message.success('提交成功');
                        this.resultInfo.jobInstanceId = res.data.data.data
                        this.searchExecuteResult()
                    } else {
                        this.$Message.error('提交失败');
                    }
                })
                //测试定时任务接口
                axios.get(site_url + "host/test/" ).then(res=>{
                    console.log(res)
                }) */
            },
            //监控详情
            monitorDetail(ip){
               this.lineDrawer = true
               axios.get(site_url + "host/monitor/", {params: {ip: ip}}).then(res=>{
                    console.log(res)
                   this.lineData.rows = res.data
                })
            },
            // 日期格式化
            format(date) {
                fmt = 'yyyy-MM-dd HH:mm:ss'
                let o = {
                    'y+': date.getFullYear(),
                    'M+': date.getMonth() + 1,                 //月份
                    'd+': date.getDate(),                    //日
                    'H+': date.getHours(),                   //小时
                    'm+': date.getMinutes(),                 //分
                    "s+": date.getSeconds(),                 //秒
                    'S+': date.getMilliseconds()             //毫秒
                }
                for (var k in o) {
                    if (new RegExp('(' + k + ')').test(fmt)){
                    if(k == 'y+'){
                        fmt = fmt.replace(RegExp.$1, ('' + o[k]).substr(4 - RegExp.$1.length));
                    }
                    else if(k=='S+'){
                        var lens = RegExp.$1.length;
                        lens = lens==1?3:lens;
                        fmt = fmt.replace(RegExp.$1, ('00' + o[k]).substr(('' + o[k]).length - 1,lens));
                    }
                    else{
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)));
                    }
                    }
                }
                return fmt;
            }
        },
        created() {
            this.search()
            this.getBiz()
            this.searchScripts()
        }
    })
</script>
<style>
.cw-search-box {padding: 10px}
.cw-radio {width: 60px}
.cw-btn-group {display: flex; justify-content: center}
.cw-btn-group > button {margin-right: 10px}

.cw-date-picker {display: flex}
.cw-date-picker .ivu-date-picker {flex: 0 0 100%}
</style>