<%inherit file="/base.html"/>

<%block name="content">
    <div class="home-page" id="app">
        <div class="cw-search-box">
            <i-form :model="searchInfo" :label-width="100">
                <Row gutter="15">
                    <i-col span="6">
                        <Form-item label="小组名称：">
                                <i-input v-model="searchInfo.name"  placeholder="请输入..."></i-input>
                        </Form-item>
                    </i-col>
                    <i-col span="6">
                        <Form-item label="小组管理员：">
                                <i-input v-model="searchInfo.adminName"  placeholder="请输入..."></i-input>
                        </Form-item>
                    </i-col>
                    <i-col span="6">
                        <Form-item label="小组成员：">
                                <i-input v-model="searchInfo.userName"  placeholder="请输入..."></i-input>
                        </Form-item>
                    </i-col>
                    <i-col span="6">
                        <FormItem>
                            <i-button type="primary" @click="search" style="margin:0 15px 0 20px">查询</i-button>
                        </FormItem>
                    </i-col>
                </Row>
                <FormItem>
                    <i-button type="primary" @click="createDrawer=true" style="margin:0 15px 0 5px">新增</i-button>
                </FormItem>
            </i-form>
            <!-- 脚本表格 -->
            <i-table stripe :columns="columns" :data="data" style="margin-top: 30px"></i-table>
        </div>
        <Drawer title="新建脚本"
            v-model="createDrawer"
            :closable="false"
            :mask-closable="false"
            width="900">
            <div style="padding: 0 15px">
                <i-form
                    :model="formItem"
                    ref="formItem"
                    :rules="ruleValidate"
                    :label-width="80">
                    <Form-item label="小组名称：" prop="name">
                        <i-input v-model="formItem.name" placeholder="请输入..."></i-input>
                    </Form-item>
                    <Form-item label="小组管理员：" prop="adminName">
                        <i-input v-model="formItem.adminName" placeholder="请输入..."></i-input>
                    </Form-item>
                    <Form-item label="小组成员：" prop="userName">
                        <i-input v-model="formItem.userName" placeholder="请输入..."></i-input>
                    </Form-item>
                    <Form-item>
                        <div class="cw-btn-group">
                            <i-button type="primary" @click="handleCreate" style="margin-right: 15px">确定</i-button>
                            <i-button type="normal" @click="cancel">取消</i-button>
                        </div>
                    </Form-item>
                </i-form>
            </div>
        </Drawer>
        <Drawer title="编辑脚本"
            v-model="editDrawer"
            :closable="false"
            :mask-closable="false"
            width="900">
            <div style="padding: 0 15px">
                <i-form
                    ref="formItem"
                    :model="formItem"
                    :rules="ruleValidate"
                    :label-width="80">
                    <Form-item label="小组名称：" prop="name">
                        <i-input v-model="formItem.name" placeholder="请输入..."></i-input>
                    </Form-item>
                    <Form-item label="小组管理员：" prop="adminName">
                        <i-input v-model="formItem.adminName" placeholder="请输入..."></i-input>
                    </Form-item>
                    <Form-item label="小组成员：" prop="userName">
                        <i-input v-model="formItem.userName" placeholder="请输入..."></i-input>
                    </Form-item>
                    <Form-item label-width="0">
                        <div class="cw-btn-group">
                            <i-button type="primary" @click="handleUpdate">修改</i-button>
                            <i-button type="normal" @click="cancel">取消</i-button>
                        </div>
                    </Form-item>
                </i-form>
            </div>
        </Drawer>
    </div>
</%block>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                editDrawer: false,
                detailDrawer: false,
                createDrawer: false,
                created_time: '',
                formItem: {
                    name: '',
                    adminName:'',
                    userName:''
                },
                columns: [
                    {
                        title: '小组名称',
                        key: 'name'
                    },
                    {
                        title: '小组管理员',
                        key: 'adminName'
                    },
                    {
                        title: '小组成员',
                        key: 'userName'
                    },
                    {
                        title: '操作',
                        key: 'actiono',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.row.id)
                                        }
                                    }
                                }, 'Edit'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.delete(params.row.id)
                                        }
                                    }
                                }, 'Delete')
                            ]);
                        }
                    }
                ],
                data: [
                    {
                        name: 'java小分队',
                        adminName: '张三',
                        userName: '李四'
                    }
                ],
                type: [
                    {
                        label: "shell",
                        value: "shell"
                    },
                    {
                        label: "bat",
                        value: "bat"
                    },
                    {
                        label: "perl",
                        value: "perl"
                    },
                    {
                        label: "python",
                        value: "python"
                    },
                    {
                        label: "powershell",
                        value: "powershell"
                    }
                ],
                source: [
                    {
                        label: '手工录入',
                        value: '手工录入'
                    },
                    {
                        label: '脚本克隆',
                        value: '脚本克隆'
                    },
                    {
                        label: '本地脚本',
                        value: '本地脚本'
                    }
                ],
                searchInfo: {
                    name: '',
                    adminName:'',
                    userName:''
                },
                script: '',
                ruleValidate: {
                    name: [
                        { required: true, message: '小组名称不能为空', trigger: 'blur' }
                    ],
                    adminName: [
                        { required: true, message: '小组管理员不能为空', trigger: 'blur' }
                    ],
                    userName: [
                        { required: true, message: '小组成员不能为空', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            // 处理日期变化事件
            handleDateChange(arr) {
            },
            // 创建脚本事件
            handleCreate() {
                this.$refs['formItem'].validate((valid) => {
                    if (valid) {
                        this.create()
                    } else {
                        this.$Message.error('表单存在未填字段!');
                    }
                })

            },
            // 创建脚本
            create() {
                this.createDrawer = false
                this.$Message.success('添加小组成功')
                this.search()
            },
            // 条件查询
            search() {
                let aa = {
                    name: this.formItem.name,
                    adminName: this.formItem.adminName,
                    userName: this.formItem.userName
                }
                this.data = [
                    aa
                ]
            },
            // 清除查询条件
            clear() {
                this.erase(this.searchInfo)
                this.search()
            },
            // 隐藏抽屉
            cancel() {
                this.editDrawer = false
                this.createDrawer = false
                this.erase(this.script)
                this.erase(this.formItem)
            },
            // 处理脚本编辑事件
            edit(id) {
                this.editDrawer = true
            },
            // 处理脚本更新时间
            handleUpdate() {
                this.$refs['formItem'].validate((valid) => {
                    if (valid) {
                        this.update()
                    } else {
                        this.$Message.error('表单存在未填字段!')
                    }
                })
            },
            // 更新脚本
            update() {
                this.editDrawer = false
                this.$Message.success('更新小组成功')
                this.search()
            },
            // 属性擦除
            erase(data) {
                Object.keys(data).forEach(key => {
                    data[key] = ''
                })
            },
            // 删除脚本
            delete(id) {
                this.$Message.success('删除小组成功')
                this.data = []
            },
            // 日期格式化
            format(date) {
                fmt = 'yyyy-MM-dd HH:mm:ss'
                let o = {
                    'y+': date.getFullYear(),
                    'M+': date.getMonth() + 1,                 //月份
                    'd+': date.getDate(),                    //日
                    'H+': date.getHours(),                   //小时
                    'm+': date.getMinutes(),                 //分
                    "s+": date.getSeconds(),                 //秒
                    'S+': date.getMilliseconds()             //毫秒
                }
                for (var k in o) {
                    if (new RegExp('(' + k + ')').test(fmt)){
                    if(k == 'y+'){
                        fmt = fmt.replace(RegExp.$1, ('' + o[k]).substr(4 - RegExp.$1.length));
                    }
                    else if(k=='S+'){
                        var lens = RegExp.$1.length;
                        lens = lens==1?3:lens;
                        fmt = fmt.replace(RegExp.$1, ('00' + o[k]).substr(('' + o[k]).length - 1,lens));
                    }
                    else{
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)));
                    }
                    }
                }
                return fmt;
            }
        },
        created() {
            this.search()
        }
    })
</script>
<style>
.cw-search-box {padding: 10px}
.cw-radio {width: 60px}
.cw-btn-group {display: flex; justify-content: center}
.cw-btn-group > button {margin-right: 10px}

.cw-date-picker {display: flex}
.cw-date-picker .ivu-date-picker {flex: 0 0 100%}
</style>